@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
  position: relative;
}

.balloon:before, .balloon:after {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
} 

.balloon:before {
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}

.balloon:after {
  bottom: -38px;
  left: 30px;
  border-top-color: #fff;
}
/* 回答はここに書いてね */
