@charset "UTF-8";

/* 回答はここに書いてね */
.table {
    width: 100%;
    height: auto;
    table-layout: fixed;
    text-align: center;
}

.thead th {
    background-color: #2244aa;
    color: #fff;
    padding: 10px 0;
    border: solid #dedede 1px;
    font-size: 17px;
    line-height: 1.3;
}

.table tr:nth-child(2n+1) {
    background-color: #ecf1f2;
}

.tbody tr:last-child {
    border-top: dashed #000 2px;
}

.tbody td {
    border: solid #dedede 1px;
    font-size: 17px;
    line-height: 1.3;
}

.tbody td:first-child {
    background-color: #2244aa;
    color: #fff;
    padding: 10px 0;
    border: solid #dedede 1px; 
}
/* 回答はここに書いてね */
